---
import BaseLayout from "../layouts/Base.astro"


---

<BaseLayout title="Fitmentor">
    <section class="h-dvh w-full max-h-[80rem] relative">
        <div class="absolute inset-0 z-[1]">
            <img class="h-full w-full object-cover object-center" src="https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg" alt="">
            <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div class="max-w-[120rem] mx-auto h-full relative z-[2] px-6 md:px-8 lg:px-10">
            <div class="h-full w-full  flex flex-col relative space-y-6">
                <div class="mt-auto mb-0 text-gray-50 md:pb-36 space-y-6">
                    <span class="font-medium text-white text-accent-500 drop-shadow">Bienvenido a FitMentor</span>
                    <h1 class="text-4xl md:text-5xl max-w-[30rem] font-bold font-roboto-condensed">La buena salud depende del deporte</h1>
                    <p class="max-w-[30rem] font-light before:content-[''] relative before:absolute before:w-px before:h-full before:left-0 before:top-0 before:-translate-x-4 before:bg-accent-500 md:text-base text-sm font-roboto-condensed">
                        ¿Buscas mejorar tu rendimiento y llevar tus entrenamientos al siguiente nivel? Con Fitmentor, organiza tus sesiones, monitorea el progreso de tus clientes y ofrece un servicio personalizado y profesional. ¡Transforma la experiencia de tus entrenamientos hoy mismo con Fitmentor!
                    </p>
                    <div class="md:flex-row flex-col flex gap-4">
                        <a href="planes" class="inline-block text-xl font-medium px-12 py-2 bg-blue rounded-lg cursor-pointer hover:bg-hovb">EMPIEZA AHORA</a>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</BaseLayout>
